body {
    background-image: url('jhny.jpeg');
    background-size: cover;
    background-position: auto;
}

.header {
  margin-top: 10vh; 
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card {
  background-color: #facbcb;
  border: 2px solid #f19abc;
  border-radius: 3vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3vh 2vw;
  margin: 5vh auto;
  max-width: 30vh;
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
  color: #333;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
}


.card:hover {
  transform: scale(1.02);
}





